default:
    suites:
        default:
            paths:    [ features ]
            contexts:
                - App\Tests\Common\CommonContext
                - App\Tests\Category\Behat\CategoryContext
                - App\Tests\Person\Behat\PersonContext
                - App\Tests\Expense\Behat\IrregularExpenseContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: App\Kernel
            bootstrap: 'tests/bootstrap.php'